﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        h4 {
            font-weight: 600;
        }

        p {
            font-size: 12px;
            margin-top: 5px;
        }

        .price-new {
            font-size: 25px;
            margin: 0 auto;
            color: #33b11f;
        }

        .price-old {
            font-size: 20px;
            margin: 0 auto;
            color: #ce1818;
            text-decoration: line-through;
        }

        .right {
            float: right;
            border-bottom: 2px solid #4B8E4B;
        }

        .thumbnail {
            opacity: 0.70;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            max-height: 390px;
            min-height: 390px;
        }

            .thumbnail:hover {
                opacity: 1.00;
                box-shadow: 0px 0px 10px #4bc6ff;
            }

        .line {
            margin-bottom: 5px;
        }

        .search-box {
            width: 200px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

            .search-box:focus {
                width: 100%;
            }
    </style>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>